{
  "extends": ["stylelint-config-standard"],
  "plugins": ["stylelint-order"],
  "overrides": [
    {
      "files": ["*.scss", "**/*.scss"],
      "extends": ["stylelint-config-standard-scss"]
    },
    {
      "files": ["*.vue", "**/*.vue"],
      "extends": ["stylelint-config-standard-scss", "stylelint-config-standard-vue/scss"]
    }
  ],
  "rules": {
    "order/properties-order": [
      {
        "groupName": "scss",
        "properties": ["$variable", "@mixin", "@include"]
      },
      {
        "groupName": "topLevel",
        "properties": ["content", "position", "top", "right", "bottom", "left", "z-index"]
      },
      {
        "groupName": "elementProperties",
        "properties": [
          "display",
          "flex",
          "flex-basis",
          "flex-direction",
          "flex-flow",
          "flex-grow",
          "flex-shrink",
          "flex-wrap",
          "grid",
          "grid-area",
          "grid-auto-rows",
          "grid-auto-columns",
          "grid-auto-flow",
          "grid-gap",
          "grid-row",
          "grid-row-start",
          "grid-row-end",
          "grid-column",
          "grid-column-start",
          "grid-column-end",
          "grid-template",
          "grid-template-areas",
          "grid-template-rows",
          "grid-template-columns",
          "gap",
          "row-gap",
          "column-gap",
          "align-content",
          "align-items",
          "align-self",
          "justify-content",
          "justify-items",
          "justify-self",
          "order",
          "float",
          "clear",
          "object-fit",
          "object-position",
          "overflow",
          "overflow-x",
          "overflow-y",
          "overflow-scrolling",
          "clip"
        ]
      },
      {
        "groupName": "box",
        "properties": [
          "width",
          "min-width",
          "max-width",
          "height",
          "min-height",
          "max-height",
          "margin",
          "margin-top",
          "margin-right",
          "margin-bottom",
          "margin-left",
          "padding",
          "padding-top",
          "padding-right",
          "padding-bottom",
          "padding-left",
          "box-sizing"
        ]
      },
      {
        "groupName": "typography",
        "properties": [
          "color",
          "font",
          "font-family",
          "font-size",
          "font-size-adjust",
          "font-stretch",
          "font-weight",
          "font-smoothing",
          "osx-font-smoothing",
          "font-variant",
          "font-style",
          "src",
          "line-height",
          "letter-spacing",
          "quotes",
          "counter-increment",
          "counter-reset",
          "vertical-align",
          "list-style",
          "list-style-type",
          "list-style-position",
          "list-style-image",
          "page-break-after",
          "page-break-before",
          "page-break-inside",
          "text-align",
          "text-align-last",
          "text-decoration",
          "text-emphasis",
          "text-emphasis-color",
          "text-emphasis-style",
          "text-emphasis-position",
          "text-indent",
          "text-justify",
          "text-outline",
          "text-transform",
          "text-wrap",
          "text-overflow",
          "text-overflow-ellipsis",
          "text-overflow-mode",
          "text-shadow",
          "white-space",
          "word-spacing",
          "word-wrap",
          "word-break",
          "tab-size",
          "hyphens",
          "caption-side"
        ]
      },
      {
        "groupName": "border",
        "properties": [
          "border",
          "border-top",
          "border-right",
          "border-bottom",
          "border-left",
          "border-width",
          "border-top-width",
          "border-right-width",
          "border-bottom-width",
          "border-left-width",
          "border-style",
          "border-top-style",
          "border-right-style",
          "border-bottom-style",
          "border-left-style",
          "border-color",
          "border-top-color",
          "border-right-color",
          "border-bottom-color",
          "border-left-color",
          "border-radius",
          "border-top-left-radius",
          "border-top-right-radius",
          "border-bottom-left-radius",
          "border-bottom-right-radius",
          "border-image",
          "border-image-source",
          "border-image-slice",
          "border-image-width",
          "border-image-outset",
          "border-image-repeat",
          "border-collapse",
          "border-spacing"
        ]
      },
      {
        "groupName": "visuals",
        "properties": [
          "background",
          "background-attachment",
          "background-clip",
          "background-color",
          "background-image",
          "background-origin",
          "background-position",
          "background-repeat",
          "background-size",
          "box-shadow",
          "outline",
          "outline-width",
          "outline-style",
          "outline-color",
          "outline-offset",
          "table-layout",
          "empty-cells",
          "opacity",
          "visibility",
          "size",
          "zoom"
        ]
      },
      {
        "groupName": "style",
        "properties": ["appearance", "cursor", "pointer-events"]
      },
      {
        "groupName": "clip",
        "properties": ["backdrop-filter", "clip", "clip-path", "mask"]
      },
      {
        "groupName": "misc",
        "properties": ["resize", "touch-action"]
      },
      {
        "groupName": "animations",
        "properties": [
          "transform",
          "transform-box",
          "transform-origin",
          "transform-style",
          "transition",
          "transition-delay",
          "transition-duration",
          "transition-property",
          "transition-timing-function",
          "animation",
          "animation-name",
          "animation-duration",
          "animation-timing-function",
          "animation-delay",
          "animation-iteration-count",
          "animation-direction",
          "animation-fill-mode",
          "animation-play-state",
          "will-change"
        ]
      }
    ]
  }
}
