.fade-slide-top {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.2s ease, transform 0.2s ease;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: scale(1) translateY(-30px) translateZ(0);
  }

  &-enter-to,
  &-leave-from {
    opacity: 1;
    transform: scale(1) translateY(0) translateZ(0);
  }
}

.appear-slide-down {
  &-enter-active,
  &-leave-active {
    overflow: hidden;
    transition: all 0.3s ease;
  }

  &-enter-from,
  &-leave-to {
    height: 0;
    opacity: 0;
    transform: translateY(-4px);
  }

  &-enter-to,
  &-leave-from {
    height: auto;
    opacity: 1;
    transform: translateY(0);
  }
}