/* fade */
@keyframes fade-enter {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-leave {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

.fade-enter-active {
  transform-origin: center;
  animation: fade-enter 0.1s ease forwards;
}

.fade-leave-active {
  transform-origin: center;
  animation: fade-leave 0.1s ease forwards;
}

/* slide-fade-top */
@keyframes slide-fade-top-enter {
  from {
    opacity: 0;
    transform: translateY(-30px) scale(1);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes slide-fade-top-leave {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  to {
    opacity: 0;
    transform: translateY(-30px) scale(1);
  }
}

.slide-fade-top-enter-active {
  animation: slide-fade-top-enter 0.2s ease forwards;
}

.slide-fade-top-leave-active {
  animation: slide-fade-top-leave 0.2s ease forwards;
}

/* slide-fade-down */
@keyframes slide-fade-down-enter {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-fade-down-leave {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(30px);
  }
}

.slide-fade-down-enter-active {
  animation: slide-fade-down-enter 0.2s ease forwards;
}

.slide-fade-down-leave-active {
  animation: slide-fade-down-leave 0.2s ease forwards;
}

/* expand-fade-down */
@keyframes expand-fade-down-enter {
  from {
    height: 0;
    opacity: 0;
    transform: translateY(-4px);
  }

  to {
    height: auto;
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes expand-fade-down-leave {
  from {
    height: auto;
    opacity: 1;
    transform: translateY(0);
  }

  to {
    height: 0;
    opacity: 0;
    transform: translateY(-4px);
  }
}

.expand-fade-down-enter-active {
  overflow: hidden;
  animation: expand-fade-down-enter 0.3s ease forwards;
}

.expand-fade-down-leave-active {
  overflow: hidden;
  animation: expand-fade-down-leave 0.3s ease forwards;
}

@keyframes spinner-pulsing-ellipsis {
    0% {
        opacity: 1;
        transform: scale(1)
    }

    50% {
        opacity: .3;
        transform: scale(.8)
    }

    100% {
        opacity: 1;
        transform: scale(1)
    }
}