:root {
    --white: #fff;
    --black: #000;
    --transparent: transparent;

    // Colors
    // blue
    --blue-100: #e6eeff;
    --blue-130: #e6eeff;
    --blue-160: #e6eeff;
    --blue-200: #d4e5ff;
    --blue-230: #bad6fd;
    --blue-260: #a4cafb;
    --blue-300: #87b8f7;
    --blue-330: #66a4f1;
    --blue-345: #59e;
    --blue-360: #3f8cea;
    --blue-400: #257fe6;
    --blue-430: #0272de;
    --blue-460: #0666c4;
    --blue-500: #0358a7;
    --blue-530: #004d91;
    --blue-560: #004481;
    --blue-600: #003c71;
    --blue-630: #003565;
    --blue-660: #002f5a;
    --blue-700: #00294f;
    --blue-730: #002547;
    --blue-760: #001f3d;
    --blue-800: #001b36;
    --blue-830: #00172f;
    --blue-860: #00142b;
    --blue-900: #000f21;

    // brand
    --brand-100: #e7eaff;
    --brand-130: #e7eaff;
    --brand-160: #e7eaff;
    --brand-200: #dce2ff;
    --brand-230: #d1daff;
    --brand-260: #c7d2ff;
    --brand-300: #b9c7ff;
    --brand-330: #a3b4fe;
    --brand-345: #93a7fd;
    --brand-360: #8da1fc;
    --brand-400: #7588f8;
    --brand-430: #6a7df6;
    --brand-460: #6374f4;
    --brand-500: #5865f2;
    --brand-530: #505edb;
    --brand-560: #4654c0;
    --brand-600: #3a48a3;
    --brand-630: #303e8d;
    --brand-660: #28367c;
    --brand-700: #1c295f;
    --brand-730: #1a275b;
    --brand-760: #172454;
    --brand-800: #121e48;
    --brand-830: #0c173a;
    --brand-860: #050d24;
    --brand-900: #01030c;
    
    // green
    --green-100: #cfffd7;
    --green-130: #cfffd7;
    --green-160: #c7fbd0;
    --green-200: #a8e7b2;
    --green-230: #96daa1;
    --green-260: #83cd90;
    --green-300: #75c383;
    --green-330: #62b673;
    --green-345: #53ac66;
    --green-360: #43a25a;
    --green-400: #289248;
    --green-430: #038138;
    --green-460: #047031;
    --green-500: #02662c;
    --green-530: #005925;
    --green-560: #004d1e;
    --green-600: #1a1a1e;
    --green-630: #003f16;
    --green-660: #003611;
    --green-700: #002f0d;
    --green-730: #002b0b;
    --green-760: #002207;
    --green-800: #002006;
    --green-830: #001904;
    --green-860: #001603;
    --green-900: #001403;

    // orange
    --orange-100: #ffe3da;
    --orange-130: #ffe3da;
    --orange-160: #ffe3da;
    --orange-200: #ffddd0;
    --orange-230: #fdcdb6;
    --orange-260: #f7ba99;
    --orange-300: #eda176;
    --orange-330: #e28c59;
    --orange-345: #d87942;
    --orange-360: #d37036;
    --orange-400: #cd672a;
    --orange-430: #c75e1e;
    --orange-460: #9f4203;
    --orange-500: #8d3901;
    --orange-530: #803200;
    --orange-560: #732b00;
    --orange-600: #662400;
    --orange-630: #5d1f00;
    --orange-660: #501800;
    --orange-700: #471300;
    --orange-730: #3f0e00;
    --orange-760: #360900;
    --orange-800: #360900;
    --orange-830: #2d0500;
    --orange-860: #2d0500;
    --orange-900: #140001;

    // red
    --red-100: #ffdfde;
    --red-130: #ffdfde;
    --red-160: #ffdfde;
    --red-200: #ffdfde;
    --red-230: #ffd0cd;
    --red-260: #ffbdba;
    --red-300: #ffaba7;
    --red-330: #fd928d;
    --red-345: #f57976;
    --red-360: #e75959;
    --red-400: #da3e44;
    --red-430: #d6363f;
    --red-460: #bc2934;
    --red-500: #a4232c;
    --red-530: #911e25;
    --red-560: #821920;
    --red-600: #701219;
    --red-630: #650e16;
    --red-660: #5b0a12;
    --red-700: #540810;
    --red-730: #4a050c;
    --red-760: #3d0208;
    --red-800: #370107;
    --red-830: #2c0005;
    --red-860: #270004;
    --red-900: #1b0003;

    // yellow
    --yellow-100: #ffe8d4;
    --yellow-130: #ffe8d4;
    --yellow-160: #ffe8d4;
    --yellow-200: #f8dabb;
    --yellow-230: #ebc69a;
    --yellow-260: #d6a76c;
    --yellow-300: #ce9c5c;
    --yellow-330: #ca9654;
    --yellow-345: #c18b45;
    --yellow-360: #b77e32;
    --yellow-400: #ae7322;
    --yellow-430: #a36607;
    --yellow-460: #8c5403;
    --yellow-500: #804b01;
    --yellow-530: #724000;
    --yellow-560: #653600;
    --yellow-600: #5d3000;
    --yellow-630: #552a00;
    --yellow-660: #502500;
    --yellow-700: #461d00;
    --yellow-730: #411900;
    --yellow-760: #3a1400;
    --yellow-800: #351000;
    --yellow-830: #300c00;
    --yellow-860: #2b0800;
    --yellow-900: #280600;

    // teal
    --teal-100: #c8fbff;
    --teal-130: #c8fbff;
    --teal-160: #c5f8fe;
    --teal-200: #b6eef4;
    --teal-230: #9ddce2;
    --teal-260: #8bcfd6;
    --teal-300: #76bfc7;
    --teal-330: #64b3ba;
    --teal-345: #56a9b1;
    --teal-360: #439ca4;
    --teal-400: #288d96;
    --teal-430: #037c85;
    --teal-460: #046c75;
    --teal-500: #016068;
    --teal-530: #00535b;
    --teal-560: #004a52;
    --teal-600: #004148;
    --teal-630: #003a42;
    --teal-660: #00333b;
    --teal-700: #002c34;
    --teal-730: #00262e;
    --teal-760: #002229;
    --teal-800: #001c23;
    --teal-830: #001921;
    --teal-860: #00151c;
    --teal-900: #001219;

    // primary
    --primary-100: #fbfbfb;
    --primary-130: #f3f3f4;
    --primary-160: #ebebed;
    --primary-200: #e3e3e6;
    --primary-230: #dbdcdf;
    --primary-260: #d3d4d7;
    --primary-300: #c8c8cd;
    --primary-330: #b9b9bf;
    --primary-345: #aaaab1;
    --primary-360: #97989f;
    --primary-400: #82838b;
    --primary-430: #6d6e77;
    --primary-460: #5c5d67;
    --primary-500: #4f505a;
    --primary-530: #41424a;
    --primary-560: #393a41;
    --primary-600: #323339;
    --primary-630: #2c2d32;
    --primary-645: #292a2f;
    --primary-660: #242429;
    --primary-700: #1e1f22;
    --primary-730: #1a1a1e;
    --primary-760: #161619;
    --primary-800: #121214;
    --primary-830: #0c0c0e;
    --primary-860: #050506;
    --primary-900: #020203;
}