:root {
    /* Font Families */
    --font-primary: "Google Sans Code", monospace;
    --font-display: "Google Sans Code", monospace;
    --font-headline: "Google Sans Code", monospace;
    --font-code: "Google Sans Code", monospace;

    /* Font Sizes */
    --font-size-32: 2rem;
    --font-size-24: 1.5rem;
    --font-size-20: 1.25rem;
    --font-size-16: 1rem;
    --font-size-14: .875rem;
    --font-size-12: .75rem;
    --font-size-10: .625rem;

    /* Line Heights */
    --line-height-10: 1.2;
    --line-height-12: 1.33;
    --line-height-14: 1.28;
    --line-height-16: 1.2;
    --line-height-20: 1.2;
    --line-height-24: 1.25;
    --line-height-32: 1.25;

    /* Font Weights */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}